@charset "UTF-8";
html {
  background-color: black;
}
body {
  min-height: 100%;
  min-width: 320px;
  max-width: 1500px;
}
h2 {
  margin-left: 100px;
  color: white;
}
h1 {
  color: gray;

  margin-right: 20px;
  padding-left: 500px;
}
p{
  color: white;
  margin-left: 100px;
  line-height: 5%;
}
.vertical-divider{
  clear: both;
  position: relative;
}

.vertical-divider:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
}
.vertical-divider .column:not(:first-child):after, .vertical-divider .columns:not(:first-child):after{
  background: white;
  bottom: 0;
  content: " ";
  margin-left: 60px;
  position: absolute;
  top: 0;
  width: 1px;
}
.container {
  position: relative;
   width: 960px;
    margin: 20px auto;
   padding: 0;
 }
.container .column, .container .columns {
  float: left;
   display: inline;
   margin-left: 10px;
  margin-right: 10px;
   }
  .container .one-third.column{width:300px;}
  .container .two-thirds.column { width: 620px; }
  header nav.horizontal {
    width: 75%;
  }

  header nav.horizontal li {
    background-color: rgb(29, 0, 255);
    display: block;
    font-family: times new roman, sans-serif;
    float: left;
    width: 20%;
    text-decoration:  none;

  }

  header nav.horizontal li a {
    color: white;
    display: block;
    font-size: 0.8em;
    height: 50px;
    letter-spacing: .5em;
    line-height: 50px;
    text-align: center;
    width: 100%;
    text-decoration: none;
  }




  p {
    color: gray;
    line-height: 30px;
    border
  }

  img {
    display: block;
    width: 82%;
    height: 415px;
  }


  div#left {
    float: left;
    position: fixed;
    width: 200px;
    height: 100%;
    bottom: 0;
    background-color:  gray;
    text-decoration: none;
  }

  div#left nav li {
    width: 50%;
    color: white;
    font-size: 2em;
    margin: 20% 0;
    border-bottom: 1px white;
    text-decoration: none;
  }

  div#left nav li a {
    text-align: center;
    text-decoration: none;
    color: black;
  }
  * {
    margin: 0;
    padding: 0;
    border: 0;
  }

  ul, li, a {
    text-decoration: none;
    list-style-type: none;
    letter-spacing: 2px;
    color: gray;
    margin-left: 15px;
  }
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
  }
  li a.active {
    background-color: white;
    color: blue;
  }
  li a:hover:not(.active) {
    background-color: white;
    color: blue;
  }
  div#left {
    float:left;
    position: fixed;
    width: 260px;
    height: 100%;
    bottom: 0;
    background-color: gray;
  }
  div#left nav li {
    width: 100%;
    color: white;
    font-size: 2em;
    margin: 20% 0;
    border-bottom: 1px white;
  }

  div#left nav li a {
    text-align: center;
  }
