@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
}
div#left {
  float: left;
  position: fixed;
  width: 25%;
  height: 100%;
  bottom: 0;
  background-color:  gray;
  text-decoration: none;
}



ul, li, a {
  text-decoration: none;
  list-style-type: none;
  letter-spacing: 2px;
  color: white;
  margin-left: 0px;
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
}
li a.active {
  background-color: white;
  color: gray;
}
li a:hover:not(.active) {
  background-color: white;
  color: gray;
}
article.image {
  display: block;
  width: 75px;

}
